# Web Framework and Server Core
Flask

# Data Manipulation and Tabular Engines
numpy
pandas
pyarrow

# Astrophysical Ingestion & Modeling Packages
astropy
lightkurve
batman-package

# Mathematical Processing & Machine Learning
scipy
scikit-learn
xgboost
joblib

# LLM Deployment Client
groq

# Visualization and Progress Trackers
matplotlib
seaborn
tqdm

# Network Ingestion Utilities
requests

gunicorn
